<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h3>Sign up</h3>
    <form action="">
        <span> First Name          </span>   <input type="text" name="firstName" id="" placeholder="First name"> <br>
        <span> Middle Name         </span>   <input type="text" name="middleName" id="" placeholder="Middle name"> <br>
        <span> Second Name         </span>   <input type="text" name="secondName" id="" placeholder="Second name"> <br>
        <span> Phone Number        </span>   <input type="text" name="mobileNumber" id="" placeholder="Phone number"> <br>
        <span> E-mail              </span>   <input type="email" name="email" id="" placeholder="email"> <br>
        <span> Gender              </span>   <input type="radio" name="gender" id="" > Male <input type="radio" name="gender" id="" > Female <br>
        <span> Date of birth       </span>   <input type="date" name="dob" id=""> <br>
        <span> Nationality         </span>   <input type="text" name="nationality" id="" value="Indian" placeholder="Nation"> <br>
        <span> Address             </span>   <br> <textarea name="" id="" cols="30" rows="2" placeholder="Enter your address here"></textarea> <br>
        <span> Profession          </span>   <select name="profession" id="">
            <option value="student">student</option>
            <option value="teacher">teacher</option>
            <option value="business">business</option>
            <option value="other">other</option>
        </select>
    </form>
</body>
</html>